<div class="py-1 lg:py-[14px] bg-co-gray-light-1 border-b border-gray-200 z-10">
  <nav class="max-w-(--breakpoint-xl) mx-auto flex items-center justify-between">
    <div class="hidden lg:flex space-x-2 w-28 pl-4">
      {% comment %} TODO: Add social icons {% endcomment %}
    </div>
    <div class="flex grow items-center justify-center">
      {% render 'main-nav-links', handle: 'main-menu-left' %}
      <div class="w-32 2xl:w-40">
        <a href="{{ routes.root_url }}" class="block focus-hidden">
          <img
            src="{{ 'Vertical_Logo_(black).png' | asset_img_url: '64x64' }}"
            alt="{{ shop.name }}"
            width="56"
            height="56"
            class="mx-auto"
          >
        </a>
      </div>
      {% render 'main-nav-links', handle: 'main-menu-right' %}
    </div>
    {% comment %} TODO: Make links operational {% endcomment %}
    <div class="flex justify-end w-20 lg:w-28 pr-4">
      <div class="flex space-x-3 items-center justify-end w-32">
        <a
          href="#"
          aria-label="Account Link"
          class="w-[22px] h-[22px]"
        >
          {{ 'icon-account.svg' | inline_asset_content }} </a
        ><button
          class="relative w-6 h-6"
          aria-label="toggle box summary"
          data-gtm-category="navigation"
          data-gtm-action="main nav"
          data-gtm-label="bundle toggle"
        >
          {{ 'icon-cart.svg' | inline_asset_content }}
        </button>
      </div>
    </div>
  </nav>
</div>

{% schema %}
{
  "tag": "header",
  "class": "sticky top-0 z-30"
}
{% endschema %}
